<div class="page-section">
  <div class="row">

    <div class="info-card-container col-sm-6" ng-repeat="experience in experiences">
      <div class="info-card">
        <div class="card-title">{{experience.company}}</div>
        <div class="card-subtitle">{{experience.position}}</div>
        <div class="card-subsubtitle">{{experience.duration}}</div>
        <div class="card-description">{{experience.description}}</div>
        <a class="info-card-link" href="{{experience.href}}" ng-show="experience.href">
          <i class="fa fa-external-link-square"></i>
        </a>
      </div>
    </div>

  </div>
</div>
