<div class="page-section">
  <div class="row">
    <div class="col-sm-12">
      <h2>Development and Design</h2>
      <p>
        After formally studying UI/UX design and Web Development in college, I worked at an ad agency, then transitioned to building the responsive UI for a consumer-facing search product. At Spokeo I've transitioned from a strictly front-end role to a position where I not only spend time developing features, but advising various teams on the best approach to solving large problems. I'm a critical team member, and the go-to guy when someone needs help planning, designing, or developing anything UI-related.
      </p>
    </div>
  </div>
</div>
