<div class="app-container page-section container-fluid">
  <div class="row">
    <div class="info-card-container col-xs-10 col-xs-offset-1" ng-repeat="experience in cards.experiences">
      <div class="info-card">
        <div class="info-card-company">{{experience.company}}</div>
        <div class="info-card-position">{{experience.position}}</div>
        <div class="info-card-duration">{{experience.duration}}</div>
        <div class="info-card-description">{{experience.description}}</div>
      </div>
    </div>
  </div>
</div>
