<div class="app-nav">
  <div class="container-fluid">
    <div class="col-sm-10 col-sm-offset-1">
      <a class="app-nav-item" ng-class="{selected: url=='/'}" href="#/"><i class="fa fa-home"></i></a>
      <a class="app-nav-item" ng-class="{selected: url=='/projects'}" href="#/projects"><i class="fa fa-image"></i></a>
      <a class="app-nav-item" ng-class="{selected: url=='/contact'}" href="#/contact"><i class="fa fa-phone"></i></a>
    </div>

  </div>
</div>

<!-- <a class="action-button" href="#/projects">
  <i class="fa fa-cloud-download"></i>
  <span>Resume</span>
</a> -->