<div class="page-section">
  <div class="row">

    <div class="project-card-container col-sm-12" ng-repeat="project in projects">
      <a class="project-card-image" href="#"></a>
      <div class="project-card-text">
        <a class="card-title" href="#">
          {{project.title}}
          <i class="fa fa-external-link-square"></i>
        </a>
        <div class="card-subtitle">{{project.role}}</div>
        <div class="card-subsubtitle">{{project.duration}}</div>
        <div class="card-description">{{project.description}}</div>
      </div>
    </div>

  </div>
</div>
