<div class="page-section">
  <div class="row">
    <div class="col-sm-12">
      <h2>Technical Knowledge</h2>
      <div class="text-tags">
        <span class="text-tag">HTML</span>
        <span class="text-tag">Haml</span>
        <span class="text-tag">Slim</span>
        <span class="text-tag">CSS</span>
        <span class="text-tag">Sass</span>
        <span class="text-tag">Javascript</span>
        <span class="text-tag">Coffeescript</span>
        <span class="text-tag">jQuery</span>
        <span class="text-tag">AngularJS</span>
        <span class="text-tag">Ruby</span>
        <span class="text-tag">Rails</span>
        <span class="text-tag">Git</span>
        <span class="text-tag">Sketch</span>
        <span class="text-tag">Illustrator</span>
        <span class="text-tag">Photoshop</span>
        <span class="text-tag">InDesign</span>
      </div>
    </div>
  </div>
</div>
