body {
  font-family: 'Open Sans', 'Helvetica';
  color: $dark_grey;
  font-size: $normal_font_size;
}

.app_container {
  max-width: 1000px;
  margin: 0 auto;
}

.page_section { margin-bottom: $crazy_margin; }

.h2 {
  font-size: $big_font_size;
  margin-bottom: $small_margin;
  font-weight: $bold_font_weight;
}

.p {
}
