body {
  font-family : 'Open Sans', Helvetica, Arial, sans-serif;
  color       : $dark_grey;
  font-size   : $normal_font_size;
}

// Adds styles to the bootstrap 'container-fluid' class
.container-fluid {
  max-width: $desktop_screen;
  margin: 0 auto;
}

.page-section { margin-bottom: $crazy_margin; }


/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; 
  vertical-align: baseline;
}

// Header title
h1 {
  font-size      : $bigger_font_size;
  font-weight    : $bold_font_weight;
  color          : $bright_blue;
  text-transform : uppercase;
  line-height    : 1em;
}

// Page section title
h2 {
  font-size     : $big_font_size;
  margin-bottom : $small_margin;
  font-weight   : $bold_font_weight;
  line-height   : 1em;
}

// Header subtitle
// Header subsubtitle
h3,
h4 {
  font-weight    : $semi_bold_font_weight;
  font-size      : $normal_font_size;
  text-transform : uppercase;
}

h3 { color : $dark_grey; }
h4 { color : $light_grey; }

a {
  color : $bright_blue;
  &:hover { color : $dark_blue; }
}

a,
a:hover { text-decoration : none; }

::selection {
  background: $bright_blue;
  color: #fff;
}
