.footer {
  background : $lighter_grey;
  padding    : $biggest_padding;
  text-align : center;
  @include breakpoint(600px) {
    padding : $crazy_padding;
  }
}

.footer_icon {
  display : inline-block;
  margin  : $big_margin;
  @include breakpoint(600px) {
    margin : 0 $big_margin;
  }
}

.footer_icon i { font-size: $medium_font_size; }
