// info-cards
.info-card {
  padding-left  : $padding;
  border-left   : $thick_blue_border;
  margin-bottom : $bigger_padding;
}

.card-title {
  color          : $dark_grey;
  font-weight    : $bold_font_weight;
  font-size      : $medium_font_size;
  line-height    : $medium_font_size;
  text-transform : uppercase;
}

.card-title:hover   { color: $dark_grey; }
.card-title:hover i { color: $dark_blue; }

.card-title i {
  color: $bright_blue;
  font-size: $normal_font_size;
}

.card-subtitle    { color: $bright_blue; }
.card-subsubtitle { color: $light_grey; }


// project-cards
.project-card-container {
  margin-bottom : $crazy_margin;
  &:last-child { margin-bottom : 0; }
}

.project-card-image {
  display       : block;
  height        : 200px;
  background    : $lighter_grey;
  border-left   : $thick_blue_border;
  margin-bottom : $margin;
}
