// info-cards
.info-card-container:nth-child(2n+1) {
  clear: both;
}

.info-card {
  padding  : $padding;
  margin-bottom : $bigger_padding;
  border: $thin_blue_border;
  border-radius: 5px;
}

.card-title {
  color          : $dark_grey;
  font-weight    : $bold_font_weight;
  font-size      : $medium_font_size;
  line-height    : $medium_font_size;
  text-transform : uppercase;
}

.card-title:hover   { color: $dark_grey; }
.card-title:hover i { color: $dark_blue; }

.card-title i {
  color: $bright_blue;
  font-size: $normal_font_size;
}

.card-subtitle    { color: $bright_blue; }
.card-subsubtitle { color: $light_grey; }


// project-cards
.project-card-container {
  margin-bottom : $crazy_margin;
  &:last-child { margin-bottom : 0; }
}

.project-card-image {
  display       : block;
  height        : 200px;
  background    : $lighter_grey;
  border-left   : $thick_blue_border;
  margin-bottom : $margin;

  // for parallaxify.js
  background-image      : url('https://static.pexels.com/photos/2971/farm-animals-horses.jpg');
  background-size       : cover;
  background-position-x : 50%;
  background-position-y : 0%;
  background-repeat     : no-repeat;

  display: none; // until i find decent photos
}
