.app-nav {
  margin-bottom : $biggest_margin;
  @include clearfix();
}

.app-nav-item {
  color          : $bright_blue;
  background     : #fff;
  padding        : 0 $small_padding;
  display        : block;
  float          : left;
  border-top     : $thin_blue_border;
  border-left    : $thin_blue_border;
  border-bottom  : $thin_blue_border;
  &:hover { background: $bright_blue; color: #fff; }
  &:first-child { @include border-left-radius(3px); }
  &:last-child {
    @include border-right-radius(3px);
    border-right: $thin_blue_border;
  }
}

.app-nav-item.selected {
  color      : #fff;
  background : $bright_blue;
}

// .action-button {
//   @extend .app-nav-item;
//   span { margin-left: 5px; }
// }
