/* FONT */
$bigger_font_size : 48px;
$big_font_size    : 36px;
$medium_font_size : 24px;
$normal_font_size : 20px;
$small_font_size  : 48px;

/* FONT WEIGHT */
$bold_font_weight       : 700;
$semi_bold_font_weight  : 600;
$normal_font_weight     : 400;
$semi_light_font_weight : 200;
$light_font_weight      : 100;

/* COLOR */
$white        : #fff;
$dark_grey    : #60677B;
$light_grey   : #BEC5D7;
$lighter_grey : #F5F5F5;
//
$bright_blue  : #4A90E2;
$dark_blue    : #356AA8;

/* PADDING */
$crazy_padding   : 80px;
$biggest_padding : 50px;
$bigger_padding  : 25px;
$big_padding     : 20px;
$padding         : 15px;
$small_padding   : 10px;
$smaller_padding : 5px;

/* MARGIN */
$crazy_margin   : $crazy_padding;
$biggest_margin : $biggest_padding;
$bigger_margin  : $bigger_padding;
$big_margin     : $big_padding;
$margin         : $padding;
$small_margin   : $small_padding;
$smaller_margin : $smaller_padding;

/* BREAKPOINT */

/* BORDER */
$thick_blue_border: 5px solid $bright_blue;
