@import url(normalize.css);
@import url(bootstrap/css/bootstrap.min.css);
/* FONT */
.bigger_font_size {
  font-size: 48px; }

.big_font_size {
  font-size: 36px; }

.medium_font_size {
  font-size: 24px; }

.normal_font_size {
  font-size: 20px; }

.small_font_size {
  font-size: 18px; }

/* FONT WEIGHT */
.bold_font_weight {
  font-weight: 700; }

.semi_bold_font_weight {
  font-weight: 600; }

.normal_font_weight {
  font-weight: 400; }

.semi_light_font_weight {
  font-weight: 200; }

.light_font_weight {
  font-weight: 100; }

/* COLOR */
/* PADDING */
.padding_80 {
  padding: 80px; }

.padding_50 {
  padding: 50px; }

.padding_25 {
  padding: 25px; }

.padding_20 {
  padding: 20px; }

.padding_15 {
  padding: 15px; }

.padding_10 {
  padding: 10px; }

.padding_5 {
  padding: 5px; }

.crazy_padding {
  padding: 80px; }

.biggest_padding {
  padding: 50px; }

.bigger_padding {
  padding: 25px; }

.big_padding {
  padding: 20px; }

.padding {
  padding: 15px; }

.small_padding {
  padding: 10px; }

.smaller_padding {
  padding: 5px; }

/* MARGIN */
.margin_80 {
  margin: 80px; }

.margin_50 {
  margin: 50px; }

.margin_25 {
  margin: 25px; }

.margin_20 {
  margin: 20px; }

.margin_15 {
  margin: 15px; }

.margin_10 {
  margin: 10px; }

.margin_5 {
  margin: 5px; }

.crazy_margin {
  margin: 80px; }

.biggest_margin {
  margin: 50px; }

.bigger_margin {
  margin: 25px; }

.big_margin {
  margin: 20px; }

.margin {
  margin: 15px; }

.small_margin {
  margin: 10px; }

.smaller_margin {
  margin: 5px; }

/* BREAKPOINT */
/* BORDER */
.thin_blue_border {
  border: 1px solid #4a90e2; }

.thick_blue_border {
  border: 5px solid #4a90e2; }

.top_rounded_3 {
  border-radius: 3px 3px 0 0; }

.right_rounded_3 {
  border-radius: 0 3px 3px 0; }

.bottom_rounded_3 {
  border-radius: 0 0 3px 3px; }

.left_rounded_3 {
  border-radius: 3px 0 0 3px; }

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #60677B;
  font-size: 20px; }

.container-fluid {
  max-width: 1200px;
  margin: 0 auto; }

.page-section {
  margin-bottom: 80px; }

/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  vertical-align: baseline; }

h1 {
  font-size: 48px;
  font-weight: 700;
  color: #4a90e2;
  text-transform: uppercase;
  line-height: 1em; }

h2 {
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1em; }

h3,
h4 {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase; }

h3 {
  color: #60677B; }

h4 {
  color: #bec5d7; }

a {
  color: #4a90e2; }
  a:hover {
    color: #356aa8; }

a,
a:hover {
  text-decoration: none; }

::selection {
  background: #4a90e2;
  color: #fff; }

.app-nav {
  margin-bottom: 50px;
  margin-top: -66px; }
  .app-nav:after {
    content: "";
    display: table;
    clear: both; }

.app-nav-items {
  box-shadow: 0px 3px 15px 0px #bec5d7;
  display: inline-block; }

.app-nav-item {
  color: #4a90e2;
  background: #fff;
  padding: 0 15px;
  display: block;
  float: left;
  border-top: 1px solid #4a90e2;
  border-left: 1px solid #4a90e2;
  border-bottom: 1px solid #4a90e2;
  font-size: 24px; }
  .app-nav-item:hover {
    background: #4a90e2;
    color: #fff; }
  .app-nav-item:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  .app-nav-item:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: 1px solid #4a90e2; }

.app-nav-item.selected {
  color: #fff;
  background: #4a90e2; }

.action-button {
  display: inline-block;
  margin-bottom: 80px; }

.action-button-icon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  background-color: #4a90e2; }

.action-button:hover .action-button-icon {
  background-color: #356aa8; }

.header {
  background: #f5f5f5;
  padding: 80px 0;
  margin-bottom: 50px; }

.footer {
  background: #f5f5f5;
  padding: 50px;
  text-align: center; }
  @media (min-width: 600px) {
    .footer {
      padding: 80px; } }

.footer_icon {
  display: inline-block;
  margin: 20px; }
  @media (min-width: 600px) {
    .footer_icon {
      margin: 0 20px; } }

.footer_icon i {
  font-size: 24px; }

.info-card-container:nth-child(2n+1) {
  clear: both; }

.info-card {
  padding: 15px;
  margin-bottom: 25px;
  border: 1px solid #4a90e2;
  border-radius: 5px; }

.card-title {
  color: #60677B;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase; }

.card-title:hover {
  color: #60677B; }

.card-title:hover i {
  color: #356aa8; }

.card-title i {
  color: #4a90e2;
  font-size: 20px; }

.card-subtitle {
  color: #4a90e2; }

.card-subsubtitle {
  color: #bec5d7; }

.project-card-container {
  margin-bottom: 80px; }
  .project-card-container:last-child {
    margin-bottom: 0; }

.project-card-image {
  display: block;
  height: 200px;
  background: #f5f5f5;
  border-left: 5px solid #4a90e2;
  margin-bottom: 15px;
  background-image: url("https://static.pexels.com/photos/2971/farm-animals-horses.jpg");
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 0%;
  background-repeat: no-repeat;
  display: none; }

.text-tags:after {
  content: "";
  display: table;
  clear: both; }

.text-tag {
  display: block;
  float: left;
  background: #f5f5f5;
  padding: 3px 10px;
  margin-right: 10px;
  margin-bottom: 10px; }

/*# sourceMappingURL=index.css.map */
